.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer2 {
  display: flex;
  color: aliceblue;
  flex-direction: column;
  align-items: center;
  background-color: red;
  margin: auto;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#loginForm button {
  margin: auto;
  width: fit-content;
  background-color: aliceblue;
  color: red;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
